# Archivos de Excel

#### El método read_excel() puede leer archivos de Excel 2007+ (.xlsx) utilizando el módulo de Python openpyxl. Los archivos de Excel 2003 (.xls) se pueden leer con xlrd. Los archivos binarios de Excel (.xlsb) se pueden leer con pyxlsb. El método de instancia to_excel() se usa para guardar un DataFrame en Excel. En general, la semántica es similar a trabajar con datos csv

In [2]:
# Código de guía
# pd.read_excel("path_to_file.xls", sheet_name="Sheet1")

In [4]:
import pandas as pd

In [6]:
tabla = pd.read_excel("employee_demographics.xlsx")

In [7]:
tabla

,EmployeeID,OrgTenureYrs_2019,JobLevel,Sex,RaceEthnicity,AgeYrs_2019,Veteran
0,1001,4.8,2,Female,Asian,49.8,No
1,1002,0.4,1,Male,Asian,25.4,No
2,1003,3.5,1,Male,HispanicLatino,23.5,No
3,1004,2.8,1,Female,White,40.8,No
4,1005,2.7,1,Female,HispanicLatino,28.7,No
...,...,...,...,...,...,...,...
158,1159,3.2,2,Male,HispanicLatino,40.2,No
159,1160,3.1,4,Female,HispanicLatino,45.1,No
160,1161,1.2,1,Male,Asian,44.2,No
161,1162,1.1,1,Male,Asian,45.1,Yes
162,1163,0.2,1,Female,Black,31.2,No

In [8]:
tabla.head(10)

,EmployeeID,OrgTenureYrs_2019,JobLevel,Sex,RaceEthnicity,AgeYrs_2019,Veteran
0,1001,4.8,2,Female,Asian,49.8,No
1,1002,0.4,1,Male,Asian,25.4,No
2,1003,3.5,1,Male,HispanicLatino,23.5,No
3,1004,2.8,1,Female,White,40.8,No
4,1005,2.7,1,Female,HispanicLatino,28.7,No
5,1006,1.5,2,Male,HispanicLatino,50.5,No
6,1007,2.6,1,Female,HispanicLatino,23.2,Yes
7,1008,5.3,3,Male,Asian,61.3,No
8,1009,3.2,1,Male,White,40.2,No
9,1010,2.6,1,Female,Black,39.6,No

In [9]:
# Los argumentos "sheet_name" permiten especificar la hoja u hojas a leer.

# El valor predeterminado para sheet_name es 0, lo que indica que pandas lee la primera hoja

# Pase una cadena para hacer referencia al nombre de una hoja en particular en el libro de trabajo.

# Pase un número entero para hacer referencia al índice de una hoja. Los índices siguen la convención de Python, comenzando en 0
# pd.read_excel("path_to_file.xls", sheet_name=["Sheet1", 3])

# Pase una lista de cadenas o enteros para devolver un diccionario de hojas específicas.

# Pase "None" para devolver un diccionario de todas las hojas disponibles.

#### Seleccionar columnas específicas

In [11]:
# Suele ocurrir que los usuarios insertan columnas para realizar cálculos temporales en Excel y es posible 
# que no desee leer en esas columnas. read_excel toma una palabra clave usecols para permitirle especificar 
# un subconjunto de columnas para analizar.

# pd.read_excel("path_to_file.xls", "Sheet1", usecols="A,C:E") -> Orden en Excel

# pd.read_excel("path_to_file.xls", "Sheet1", usecols=[0, 2, 3]) -> Por indice

# pd.read_excel("path_to_file.xls", "Sheet1", usecols=["foo", "bar"]) -> Por nombre

#### Para escribir de pandas a Excel

In [12]:
# df.to_excel("path_to_file.xlsx", sheet_name="Sheet1")

In [13]:
# index_label se colocará en la segunda fila en lugar de la primera. Puede colocarlo en la primera fila 
# configurando la opción merge_cells en to_excel() en False:

# df.to_excel("path_to_file.xlsx", index_label="label", merge_cells=False)

## Copiar datos del portapeles - read_clipboard()

In [17]:
# Una forma práctica de obtener datos es usar el método read_clipboard(), que toma el contenido 
# del búfer del portapapeles y lo pasa al método read_csv.

In [18]:
clipdf = pd.read_clipboard()

In [19]:
clipdf

Empty DataFrame
Columns: [read_clipboard()]
Index: []

## Pegar datos desde el portapapeles -  to_clipboard

In [20]:
df = pd.DataFrame(
    {"A": [1, 2, 3], "B": [4, 5, 6], "C": ["p", "q", "r"]}, index=["x", "y", "z"]
)

In [23]:
df.to_clipboard()

In [24]:
pd.read_clipboard()

   A  B  C
x  1  4  p
y  2  5  q
z  3  6  r